@model test_base_donnee_indemnite.Models.OrdreMission

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <style>

        body {
            height: 14in;
            width: 9.25in;
            /*(comment)/// to centre page on screen*/
            margin-left: auto;
            margin-right: auto;
            border: solid 1px;
        }


        .ecole {
            text-align: center;
            margin-left: 40px;
            width: 900px;
        }

        .img {
            margin-left: 280px;
            width: 200px;
            height: auto;
        }

        .header {
            display: flex;
        }

        .w {
            width: 350px;
        }

        .title {
            text-align: center;
        }

        .info {
            display: flex;
        }

        .info1 {
            margin-left: 30px;
        }

        .info2 {
            margin-left: 250px;
            margin-top: 50px;
        }

        .table {
            text-align: center;
            width: 70%;
            margin-left: 130px;
        }

        .table1 {
            text-align: center;
            width: 100%;
            border-collapse: collapse 2px;
        }

        .table2 {
            text-align: center;
            width: 84.6%;
            border-collapse: collapse;
        }

        .textLeft {
            text-align: left;
        }

        .textRight {
            text-align: right;
        }

        td {
            width: 80px;
        }

        .borderStyle {
            border-style: dashed;
            width: 230px;
            height: 20px;
            padding-left: 30px;
        }

        .underTable {
            display: flex;
            margin-left: 100px;
            margin-right: 10px;
        }

        .prix {
            margin-left: 200px;
        }
    </style>

</head>
<body>
    <div class="header">
        <div class="ecole">
            <p>UNIVERSITE CADI AYYAD</p>
            <p class="w">ECOLE NATIONAL DES SCIENCES APPLIQUEES</p>
            <p>SAFI</p>
        </div>
        <div><img src="ensasLogo.png" alt="ensasLogo" class="img"></div>
    </div>
    <div class="title">
        <p> <b><u>ETAT DES INDEMNITES KILOMETRAGES OU DE</u></b> </p>
        <p><b><u> DEPLACEMENT</u></b></p>
    </div>
    <div class="info">
        <div class="info1">
            <p>M  :@Html.DisplayFor(model => model.numero) </p>
            <p>
                Effectués pendant le mois de :@ViewData["mois"] 
)
            </p>
            <p>Nom & Prénom : @Html.DisplayFor(model => model.personel.Nom) @Html.DisplayFor(model => model.personel.Prenom) </p>
            <p>Echelle :@Html.DisplayFor(model => model.personel.echelon)</p>
            <p>Groupe : @Html.DisplayFor(model => model.echlon)</p>
            <p>Motif de déplacement :   @Html.DisplayFor(model => model.objetDepart)</p>
        </div>
        <div class="info2">
            <p>Grade : @Html.DisplayFor(model => model.personel.Grades.Nom) </p>
            <p>Résidence :  @Html.DisplayFor(model => model.trajet.villeDepart)</p>   
        </div>
    </div>
    <div>
        <table border="1" class="table">
            <tbody>
                <tr>
                    <td>
                        <table border="1" class="table1">
                            <tbody>
                                <tr>
                                    <td colspan="4" style="height: 60px;" class="textLeft">1°) Indemnités de déplacement</td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td class="textLeft">Nombre</td>
                                    <td class="textLeft">Taux</td>
                                    <td class="textLeft">Total</td>
                                </tr>
                                <tr>
                                    <td class="textLeft">Découcher</td>
                                    <td class="textRight">0</td>
                                    <td class="textRight">00,00</td>
                                    <td class="textRight">00,00</td>
                                </tr>
                                <tr>
                                    <td class="textLeft">Repas de midi</td>
                                    <td class="textRight">0</td>
                                    <td class="textRight">00,00</td>
                                    <td class="textRight">00,00</td>
                                </tr>
                                <tr>
                                    <td class="textLeft">Repas de soir</td>
                                    <td class="textRight">0</td>
                                    <td class="textRight">00,00</td>
                                    <td class="textRight">00,00</td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td class="textLeft">S/TOTAL (I)</td>
                                    <td class="textRight">00,00</td>
                                </tr>
                                <tr>
                                    <td colspan="4" style="height: 60px;">
                                        <table border="0" class="table1">
                                            <tbody>
                                                <tr><td colspan="4" class="textLeft">2°) Indemnités kilométriques</td></tr>
                                                <tr>
                                                    <td class="textLeft">@Html.DisplayFor(model => model.moyenTransport) :</td>
                                                    <td class="textLeft">@Html.DisplayFor(model => model.matricule)</td>
                                                    <td class="textLeft">Puissance</td>
                                                    <td>@Html.DisplayFor(model => model.nombreCheuvaux)</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td class="textLeft">Nombre</td>
                                    <td class="textLeft">Taux</td>
                                    <td class="textLeft">Total</td>
                                </tr>
                                <tr>
                                    <td class="textLeft">*Kms sur route</td>
                                    <td class="textRight">@Html.DisplayFor(model => model.trajet.distance)</td>
                                    <td class="textRight">@ViewData["taux"]</td>
                                    <td class="textRight">@ViewData["total"]</td>
                                </tr>
                                <tr>
                                    <td class="textLeft">*Kms sur route</td>
                                    <td class="textRight">&nbsp;</td>
                                    <td class="textRight">&nbsp;</td>
                                    <td class="textRight">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td class="textLeft">S/TOTAL (I)</td>
                                    <td class="textRight">@ViewData["total"]</td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- DivTable.com -->
                    </td>
                </tr>
                <tr>
                    <td>
                        <table border="1" class="table1">
                            <tbody>
                                <tr>
                                    <td style="height: 30px;" class="textLeft">3°) Frais de tronsport</td>
                                </tr>
                                <tr>
                                    <td colspan="4" class="textLeft">
                                        <table border="0" class="table1">
                                            <tbody>
                                                <tr>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                    <td class="textLeft">Aller</td>
                                                    <td>&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                    <td class="textLeft">Retour</td>
                                                    <td>&nbsp;</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>S/TOTAL (III)</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
            <table border="0" class="table2">
                <tbody>
                    <tr>
                        <td colspan="3">TOTAL(I+II+III)</td>
                        <td style="border:solid 3px; width: 150px;">@ViewData["total"]</td>
                    </tr>
                </tbody>
            </table>
        </table>
    </div>
    <br>
    <div class="underTable">
        <div>
            <p>Le Présent état s'élève à la somme de :</p>
        </div>
        <div class="prix">
            <pre class="borderStyle">@ViewData["total"]   dirhams, 00 cts</pre>
        </div>
    </div>
    <br><br>
    <div style="margin-left: 30px;">
        <p>Le bénéficaire atteste, n'avoir bénéficier d'aucune prise en charge total ou partielle de la part de la partie inviantante</p>
        <br><br><br>
        <p>Le sous ordonnateur soussigné, certifie l'exactitude des renseignements portés au présent état</p>
        <br>
        <div style="margin-left:630px;"><p>
    Safi, Le @ViewData["date"]
</p></div>

    </div>
    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
        <i class="fas fa-download fa-sm text-white-50"></i> Generate Report
    </a>
</body>

</html>
